<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма для загрузки файлов</title>
</head>
<body>
    <h1>Загружаем новый файл на сервер</h1>
    <form method=post enctype=multipart/form-data>
        <!-- Параметр enctype=multipart/form-data создаёт форму для загрузки данных (файлов) -->
      <input type=file name=file>
      <input type=submit value=Загрузить>
      <!-- submit - создаём кнопку загрузки-->
    </form>
</body>
</html>